<% if (indexInCollection % 3 == 0) { %>
  <div class="row">
<% } %>
    <div class="col-md-4">
      <h2><a href="/u/<%= post.user %>"><%= post.user %></a> 说</h2>
      <p><small><%= post.time %></small></p>
      <p><%= post.post %></p>
    </div>
<% if (indexInCollection % 3 == 2) { %>
  </div><!-- end row -->
<% } %>
<% if (lastInCollection && collectionLength % 3 != 0) { %>
  </div><!-- end row -->
<% } %>