<form class="form-inline well text-center" role="form" method="post" action="/post">
  <label class="sr-only" for="post">微博内容</label>
  <input type="text" class="form-control input-lg" id="post" name="post" style="width: 70%">
  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-comment"></span>发言</button>
</form>